
@background: #1b003f;

.border-radius (@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}

.border-radius (@tl, @tr, @br, @bl) {
	border-radius: @tl @tr @br @bl;
	-moz-border-radius: @tl @tr @br @bl;
	-webkit-border-radius: @tl @tr @br @bl;
}

body {
	background-color: @background;
	font-family: sans-serif;
	color: white;
	font-size: 12px
}

.button {
	.border-radius(20px);
	height: 24px;
	color: white;
	background-color: #216400;
	padding: 0 20px;
	text-decoration: none;
	border-width: 0;
	font-size: 1.2em;
	line-height: 18px;
	border: 2px solid rgba(0,0,0,0.4);
	cursor: pointer;
	&:hover {
		border: 2px solid rgba(255,255,255,0.5)
	}
}

.gameWrapper {
	header {
		h1 {
			font-size: 2.0em;
			color: rgba(255,255,255,0.8);
			text-shadow: 2px 2px 1px #000000;
			font-weight: 300;
		}
	}

	width: 800px;
	margin: auto;

	aside.left {
		position: relative;
		float: left;
		width: 400px;
		.gameOver {
			width: 406px;
			height: 406px;
			display: none;
			position: absolute;
			background: rgba(0,0,0,0.5);
			.inner {
				padding-top: 160px;
				text-align: center;
				color: rgba(255,255,255,0.5);
			}
			.restart {
				padding: 10px;
				a {
					.button;
				}
			}
		}
	}

	aside.right {
		width: 250px;
		float: right;
		#players {
			color: #bbb;
			.player {
				&:first-child {
					border-top-width: 0
				}
				.square {
					width: 8px;
					height: 8px;
					border: 1px solid rgba(0,0,0,0.5);
					float: left;
					margin: 2px 6px 2px 2px;
				}
				.score {
					color: #fff;
					float: right
				}
				background: #000;
				padding: 5px;
				border-top: 1px solid @background + #333333
			}
			.dead {
				color: #777
			}
			border: 3px solid @background + #333333
		}
	}

	.credits {
		text-align: center;
		color: rgba(255,255,255,0.5);
		clear: both;
		padding: 20px 0;
		a {
			color: white;
			&:hover {
				text-decoration: none
			}
		}
	}
}

#game {
	border: 3px solid @background + #333333
}

#nameModal {

	.background {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5)
	}

	.modal {
		position: fixed;
		top: 20%;
		right: 0;
		left: 0;
		margin: 0 auto;
		background-color: @background;
		border: 3px solid @background + #333;
		padding: 20px;
		.border-radius(16px);
		width: 250px;
		-webkit-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);
		box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.3);

		h1 {
			margin: 0px;
			font-size: 1.4em;
			font-weight: normal;
			text-shadow: 2px 2px 1px #000000;
			margin-bottom: 16px
		}
		form {
			position: relative;
			height: 30px;
			input {
				position: absolute;
				top: 0;
				left: 0;
				background: #000;
				color: rgba(255,255,255,0.8);
				font-size: 1.2em;
				padding: 3px 6px;
				border: 2px solid @background + #333;
				width: 145px
			}
			button {
				position: absolute;
				top: 3px;
				right: 0;
			}
		}
	}
}

