@(host: String)
@main("Snake multiplayer") {

<script type="text/javascript">
	var snakeGameWebsocketViewer = "@{ "ws://"+ host + routes.MultiplayerSnakeGame.client("") }";
	var snakeGameWebsocketPlayer = "@{ "ws://"+ host + routes.MultiplayerSnakeGame.client("true") }";
</script>

<script src="@routes.Assets.at("javascripts/snake-game/game-multiplayer.js")" type="text/javascript"></script>
<link href='http://fonts.googleapis.com/css?family=Gruppo' rel='stylesheet' type='text/css'>

	<section class="gameWrapper">
		<header>
			<h1>Snake Multiplayer</h1>
		</header>

		<aside class="left">
			<div class="gameOver">
				<div class="inner">
					Game over, your score is <span class="finalScore"></span>
					<div class="restart">
						<a href="javascript:;">Restart</a>
					</div>
				</div>
			</div>
			<canvas id="game" width="400" height="400"></canvas>

			<form id="play">
				<button type="submit" class="button">Play!</button>
			</form>
		</aside>

		<aside class="right">
			<div id="players">
				<div class="player">
					<div class="square" style="background-color: #e44;"></div>
					<span class="name">Player1</span>
					<span class="score">123</span>
				</div>

				<div class="player">
					<div class="square" style="background-color: #4c4;"></div>
					<span class="name">Player2</span>
					<span class="score">12</span>
				</div>

			</div>
		</aside>

		<div class="credits">
			This is a Play 2.0 experiment with Scala and Websockets.
		</div>
	</section>

	<section id="nameModal">
		<div class="background"></div>
		<div class="modal">
			<h1>Please enter your nickname</h1>
			<form>
				<input type="text" value="Player1" />
				<button type="submit" class="button">Start</button>
			</form>
		</div>
	</section>

}
